@import url("https://fonts.googleapis.com/css?family=Open+Sans:800|Roboto+Condensed:700i");

#scene {
  position: relative;
  /* top: 200%;
  left: 25%; */
  width: 100%;
  height: 700px;
  overflow: hidden;
  /* margin-top: 10px;
  margin-left: -640px; */
  background-color: transparent;
  background-image: none;
}
#curtain {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

#curtain .left,
#curtain .right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #8b0000;
  background-image: url("https://images.vexels.com/media/users/17482/101168/preview2/01bdac45c37aff22f75230abf3f019d4-red-curtain-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#curtain .left {
  left: 0;
  transform-origin: top right;
}
#curtain .right {
  left: 50%;
  transform-origin: top left;
}

/* **********
	opening
********** */

/* #scene.expand {
  width: 140%;
  left: -20%;
  margin-left: 0;
  background-color: rgb(255, 0, 0);
  box-shadow: 0 0 0 0 rgb(252, 0, 0) inset;
  animation-fill-mode: forwards;
  animation-name: expand-scene-horizontaly, expand-scene-verticaly;
  animation-duration: 2.5s, 1.5s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-delay: 0s, 2.5s;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
} */

#curtain.open .left,
#curtain.open .right {
  filter: brightness(10%);
}
#curtain.open .left {
  animation-fill-mode: forwards;
  animation-name: curtain-opening, left-curtain-opening;
  animation-duration: 2s, 4s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-delay: 0s, 0s;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
}
#curtain.open .right {
  animation-fill-mode: forwards;
  animation-name: curtain-opening, right-curtain-opening;
  animation-duration: 2s, 4s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-delay: 0s, 0s;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
}

#scene.expand .ground {
  animation-fill-mode: forwards;
  animation-name: ground-rising;
  animation-duration: 6s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

/* #scene.expand h1 {
  animation-fill-mode: forwards;
  animation-name: text-zoom, text-fade-in, text-glowing;
  animation-duration: 5s, 1s, 1s;
  animation-timing-function: ease-out, ease-in-out, ease-in-out;
  animation-delay: 3s, 3s, 0s;
  animation-iteration-count: 1, 1, infinite;
  animation-direction: normal, normal, alternate;
} */

.fade-out {
  animation-fill-mode: forwards;
  animation-name: fade-out;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

/* **********
	animations
********** */

/* expands the screen  */

@keyframes curtain-opening {
  /* 2s */
  from {
    filter: brightness(180%);
  }
  to {
    filter: brightness(100%);
  }
}

@keyframes left-curtain-opening {
  /* 4s */
  from {
    transform: translate(0) rotate(0) scale(1, 1);
  }
  to {
    transform: translate(-100%) rotate(20deg) scale(0, 2);
  }
}

@keyframes right-curtain-opening {
  /* 4s */
  from {
    transform: translate(0) rotate(0) scale(1, 1);
  }
  to {
    transform: translate(100%) rotate(-20deg) scale(0, 2);
  }
}
