@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
    background-color: rgb(60,60,80);
}

.navbar-brand {
    color: rgb(255,255,255);
    font-size: 24pt;
}

section {
  width: min-content;
  background: rgb(60,60,80);
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  display: inline-block;
}

svg{
  cursor: pointer;
}

body{
  font-family: Nunito;
  font-size: 1.2rem;
}